<div class="container" *ngIf="idRoom === ''">
  <div class="screen-default">
    <img src="assets/image/chat.svg" alt="chat" />

    <p>choose a chat and communicate with your contacts</p>
  </div>
</div>

<div [hidden]="idRoom === ''" class="container">
  <div class="container-message" #containerMessage>
    <div
      *ngFor="let msg of messages"
      [ngClass]="msg?.idUser === user?.id ? 'message-my-user' : 'message-user'"
    >
      {{ msg.message }}
    </div>
  </div>

  <div class="container-form">
    <div>
      <div class="form">
        <div class="form__contact-input">
          <input
            class="form__input"
            placeholder="escribe un mensaje"
            [formControl]="messageInput"
            (keyup.enter)="handleMessage()"
          />
        </div>

        <div class="example-button-container">
          <button
            mat-icon-button
            aria-label="papper-plane"
            (click)="handleMessage()"
            class="btn-send-message"
          >
            <fa-icon [icon]="faPaperPlane"></fa-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
