<button mat-button (click)="handleClick(user.roomID, user.id, user.contactsID)">
  <div class="avatar avatar-default-img" #avatar></div>

  <div class="info">
    <h3>
      {{ user?.firstName + " " + user?.lastName | chainAdjustment: 25 }}
    </h3>
    <span class="lastMessage">{{
      user.room?.lastMessage | chainAdjustment: 40
    }}</span>
  </div>

  <div class="notifications">
    <span>{{ user?.room?.timestamp?.seconds * 1000 | date }}</span>

    <div
      class="badge"
      [ngClass]="{
        hidden: myUser?.id === user?.room?.idUser || user?.room?.messageSeen
      }"
    >
      <span>{{ user?.room?.countMessage }}</span>
    </div>
  </div>
</button>
