%message {
  display: flex;
  align-items: baseline;
  max-width: 200px;
  color: #fff;
  font-size: 15px;
  margin-bottom: 10px;
  word-break: break-all;
}

%pinMsg {
  width: 11.5px;
  height: 15px;
  display: block;
}
