<div *ngIf="user?.firstName !== undefined" class="container">
  <img
    [src]="
      user?.avatar === undefined
        ? 'assets/image/default-user-img.jpg'
        : user.avatar
    "
    alt="avatar-user-contact"
    class="avatar avatar-big"
  />

  <h3>{{ user?.firstName + " " + user?.lastName }}</h3>

  <span>{{ user?.description }}</span>

  <button mat-stroked-button color="warn" (click)="openDialog()">
    Delete user
  </button>
</div>

<div *ngIf="user?.lastName === undefined" class="container">
  <img src="assets/image/avatar.svg" alt="avatar-default" class="avatar-big" />
  <p>you can see the user you are talking to in this window</p>
</div>
