@import "styles/vars";
@import "styles/mixins";

:host {
  width: 300px;
  height: 100%;
  border-radius: 0;
  border-left: 1px solid #d7d7d7;
  padding: 20px;
  box-sizing: border-box;
  @include response-to(1000px) {
    display: none;
    width: 100%;
    padding: 0;
  }

  .menu {
    display: none;
    @include response-to(1000px) {
      display: flex;
    }
  }

  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    @include response-to(1000px) {
      height: 60%;
    }
  }
  .avatar-big {
    width: 150px;
    height: 150px;
  }

  h3 {
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
    margin: 20px 0;
    padding-bottom: 20px;
    border-bottom: 1px solid #d7d7d7;
  }
  span {
    font-size: 15px;
    margin: 20px;
  }
  p {
    color: #838383;
    font-size: 15px;
    text-transform: capitalize;
    margin-top: 40px;
  }
}
