@import "styles/vars";

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: $background;

  &::ng-deep.mat-card {
    box-shadow: none;
  }
}

.card {
  height: 80%;
  width: 80%;
  text-align: center;
  & img {
    width: 100%;
    height: 80%;
  }

  & p {
    font-size: x-large;
    color: $primary;
  }
}
