<div class="user-info">
  <div class="avatar avatar-default-img" #avatar></div>
  <div class="title-content">
    <h3 class="title">
      {{ user.firstName + " " + user.lastName | chainAdjustment: 30 }}
    </h3>
    <span class="subtitle">{{ user.description | chainAdjustment: 35 }}</span>
  </div>
  <button
    mat-icon-button
    aria-label="settings"
    [matMenuTriggerFor]="menu"
    #menuTrigger
  >
    <fa-icon [icon]="faEllipsisV"></fa-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="openDialog()">Settings</button>
    <button mat-menu-item (click)="exit()">Exit</button>
  </mat-menu>
</div>

<app-input-search></app-input-search>

<div *ngIf="!listUserItem?.length" class="noContacts">
  <img src="assets/image/search.svg" alt="search" />

  <h3>You have no contacts? search to start a conversation.</h3>
</div>

<div *ngFor="let userItem of listUserItem">
  <button
    mat-button
    (click)="
      handleClick(
        userItem.roomID,
        userItem.id,
        userItem.contactsID,
        userItem.room.idUser
      )
    "
  >
    <img
      [src]="
        userItem?.avatar === undefined || userItem?.avatar === ''
          ? 'assets/image/default-user-img.jpg'
          : userItem?.avatar
      "
      alt="avatar-user-contact"
      class="avatar avatar-big"
    />

    <div class="info">
      <h3>
        {{
          userItem?.firstName + " " + userItem?.lastName | chainAdjustment: 25
        }}
      </h3>
      <span class="lastMessage">{{
        userItem?.room?.lastMessage | chainAdjustment: 40
      }}</span>
    </div>

    <div class="notifications">
      <span>{{ userItem?.room?.timestamp?.seconds * 1000 | date }}</span>

      <div
        class="badge"
        [ngClass]="{
          hidden:
            user?.id === userItem?.room?.idUser || userItem?.room?.messageSeen
        }"
      >
        <span>{{ userItem?.room?.countMessage }}</span>
      </div>
    </div>
  </button>
</div>
