<div class="user-info">
  <div class="avatar avatar-default-img" #avatar></div>
  <div class="title-content">
    <h3 class="title">
      {{ user.firstName + " " + user.lastName | chainAdjustment: 30 }}
    </h3>
    <span class="subtitle">{{ user.description | chainAdjustment: 35 }}</span>
  </div>
  <button
    mat-icon-button
    aria-label="settings"
    [matMenuTriggerFor]="menu"
    #menuTrigger
  >
    <fa-icon [icon]="faEllipsisV"></fa-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="openDialog()">Open dialog</button>
    <button mat-menu-item (click)="exit()">Exit</button>
  </mat-menu>
</div>

<app-input-search></app-input-search>

<app-user-list-item
  *ngFor="let user of listUserItem"
  [user]="user"
></app-user-list-item>
